.main-outer {
	background-color: #dadada;
}
.tabs-inner .section:first-child ul {
	background-color: #3b5998;
}
.tabs-inner .widget li a {
	color: white;
	font-weight: bold;
	border-left: 0;
	border-right: 0;
	font-size: 15px;
}
.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
	background-color: #123456;
	color: white;
}
.post {
	background-color: white;
	padding:10px;
}
.header-inner .Header #header-inner {
	border-bottom: 0;
	padding: 0 30px;
}
td.gsc-search-button {
	display: none;
}
input.gsc-input {
	border-radius: 50px;
	outline: none;
}
.widget .popular-posts ul {
	background-color: #337ab7;
}
.PopularPosts .widget-content ul li {
    border-top: 1px solid #123456;
    background-color: white;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.PopularPosts .widget-content ul li:hover {
    background-color: #defdef;
}
.PopularPosts .widget-content ul li:first-child {
    border-top: 0;
}
.popular-posts .item-title > a {
	color: #2288bb;
}
.feed-links {
	display: none;
}
.glyphicon.glyphicon-search {
    position: absolute;
    top: 41px;
    right: 20px;
}
.blog-pager-older-link, .home-link, .blog-pager-newer-link {
	color: #fff !important;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.blog-pager {
	background: none;
}
div.widget > h2, div.widget h2.title {
	margin: 0 0 5px 0;
	background-color: #3b5998;
	display: inline-block;
	color: white;
	padding: 10px;
}
body .navbar {
	height: 0;
	min-height: 0;
}
.Header h1, .Header .description {
	font-family: Georgia,"Times New Roman",Times,Helvetica,Arial,serif;
    color: #123456;
}
.Header h1 {
	margin-bottom: 0; 
}
.Header .description {
	margin-top: 0;
}
.tabs-inner .section:first-child ul {
	border: 0;
}
.header-inner .Header .titlewrapper {
	padding-bottom: 0;
}
.content-inner {
	padding: 0;
}
.tabel-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
}
.post-outer table {
	border-collapse: collapse;
}
.post-outer table th,
.post-outer table td {
	border: 1px solid black;
	padding: 10px;
	white-space: nowrap;
}
.post-outer table th {
	background-color: #3b5998;
	color:white;
}
.post-outer h1,
.post-outer h2,
.post-outer h3,
.post-outer h4,
.post-outer h5,
.post-outer h6 {
	margin-top: 20px;
    margin-bottom: 10px;
}
.post-outer .post-title {
	color: #337ab7;
}
.Profile ul {
	background-color: :white;
	padding: 10px;
}
.Profile ul li {
	list-style-type: none;
}